* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #b4b4b4;
  color: #0f0f0f;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 350px;
  height: 550px;
  max-width: 100%;
  max-height: 100%;
  font-size: 1rem;
  padding: 2em 1em;
  display: grid;
  grid-template-rows: repeat(3, 2fr) repeat(3, 1.25fr);
  gap: 1em;
  border-radius: 10px;
  background-color: #e1e1e1;
  color: #0f0f0f;
}
.app .color-output {
  width: 100%;
  height: 100%;
  max-height: 5rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  align-self: start;
  cursor: pointer;
}
.app .color-output * {
  cursor: pointer;
}
.app .color-output .color-text {
  text-align: center;
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: 700;
}
.app .slider-container {
  width: 100%;
  height: 100%;
  max-height: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-self: end;
}
.app .slider-container .input-slider {
  -webkit-appearance: none;
  background-color: transparent;
  width: 100%;
  height: 1.5em;
  cursor: pointer;
  background-color: #b4b4b4;
  border-radius: 0.75em;
  outline: none;
}
.app .slider-container .input-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: 0em;
  width: 1.5em;
  height: 1.5em;
  background-color: #c8c8c8;
  cursor: pointer;
  border-radius: 0.75em;
}
.app .slider-container .input-slider::-webkit-slider-runnable-track, .app .slider-container .input-slider::-moz-range-track, .app .slider-container .input-slider::-ms-fill-lower, .app .slider-container .input-slider::-ms-fill-upper {
  width: 100%;
  height: 1.5em;
  cursor: pointer;
  background-color: #b4b4b4;
  border-radius: 0.75em;
  outline: none;
}
.app .slider-container .input-slider::-moz-range-thumb, .app .slider-container .input-slider::-ms-thumb {
  width: 1.5em;
  height: 1.5em;
  background-color: #c8c8c8;
  cursor: pointer;
  border-radius: 0.75em;
}
.app .slider-container .input-slider::-webkit-slider-thumb:hover {
  background-color: #bbbbbb;
}
.app .slider-container .input-slider::-moz-range-thumb:hover {
  background-color: #bbbbbb;
}
.app .slider-container .input-slider::-ms-thumb:hover {
  background-color: #bbbbbb;
}
.app .slider-container .input-slider::-webkit-slider-runnable-track:hover, .app .slider-container .input-slider::-webkit-slider-runnable-track:focus {
  background-color: #c1c1c1;
  border-radius: 0.75em;
}
.app .slider-container .input-slider::-moz-range-track:hover, .app .slider-container .input-slider::-moz-range-track:focus {
  background-color: #c1c1c1;
  border-radius: 0.75em;
}
.app .slider-container .input-slider::-ms-fill-lower:focus, .app .slider-container .input-slider::-ms-fill-upper:focus, .app .slider-container .input-slider::-ms-fill-lower:hover, .app .slider-container .input-slider::-ms-fill-upper:hover {
  background-color: #c1c1c1;
  border-radius: 0.75em;
}
.app .slider-container .slider-label {
  display: block;
  text-align: left;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
