@use "sass:color";

$main-font: Arial, Helvetica, sans-serif;

$body-background: rgb(25, 25, 25);
$content-background: rgb(225, 225, 225);
$text-light: rgb(245, 245, 245);
$text-dark: rgb(32, 32, 32);

@function set-text-color($bg-color) {
	@if (color.lightness($bg-color) > 60) {
		@return $text-dark;
	} @else {
		@return $text-light;
	}
}

@mixin set-background($bg-color) {
	background-color: $bg-color;
	color: set-text-color($bg-color);
}
