@use "sass:math";
@use "sass:color";

@mixin slider-hue-background($s: 80%, $l: 50%) {
	background: -webkit-linear-gradient(
		left,
		hsl(0, $s, $l),
		hsl(60, $s, $l),
		hsl(120, $s, $l),
		hsl(180, $s, $l),
		hsl(240, $s, $l),
		hsl(300, $s, $l),
		hsl(360, $s, $l)
	); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(
		right,
		hsl(0, $s, $l),
		hsl(60, $s, $l),
		hsl(120, $s, $l),
		hsl(180, $s, $l),
		hsl(240, $s, $l),
		hsl(300, $s, $l),
		hsl(360, $s, $l)
	); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(
		right,
		hsl(0, $s, $l),
		hsl(60, $s, $l),
		hsl(120, $s, $l),
		hsl(180, $s, $l),
		hsl(240, $s, $l),
		hsl(300, $s, $l),
		hsl(360, $s, $l)
	); /* For Firefox 3.6 to 15 */
	background: linear-gradient(
		to right,
		hsl(0, $s, $l),
		hsl(60, $s, $l),
		hsl(120, $s, $l),
		hsl(180, $s, $l),
		hsl(240, $s, $l),
		hsl(300, $s, $l),
		hsl(360, $s, $l)
	); /* Standard syntax (must be last) */
}

@mixin slider-thumb($size, $color) {
	width: $size;
	height: $size;
	background-color: $color;
	cursor: pointer;
	border-radius: $size * 0.5;
}

@mixin slider-track($width, $height, $color) {
	width: $width;
	height: $height;
	cursor: pointer;
	background-color: $color;
	border-radius: $height * 0.5;
	outline: none;
}

@function focus-color($color) {
	@return lighten($color, 5%);
}

@mixin slider($width, $height, $thumb-size, $thumb-color, $track-color) {
	-webkit-appearance: none;
	background-color: transparent;
	@include slider-track($width, $height, $track-color);
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		margin-top: ($thumb-size - $height) * 0.5;
		@include slider-thumb($thumb-size, $thumb-color);
	}
	&::-webkit-slider-runnable-track,
	&::-moz-range-track,
	&::-ms-fill-lower,
	&::-ms-fill-upper {
		@include slider-track($width, $height, $track-color);
	}

	&::-moz-range-thumb,
	&::-ms-thumb {
		@include slider-thumb($thumb-size, $thumb-color);
	}

	&::-webkit-slider-thumb:hover {
		background-color: darken($thumb-color, 5%);
	}
	&::-moz-range-thumb:hover {
		background-color: darken($thumb-color, 5%);
	}
	&::-ms-thumb:hover {
		background-color: darken($thumb-color, 5%);
	}

	&::-webkit-slider-runnable-track:hover,
	&::-webkit-slider-runnable-track:focus {
		background-color: focus-color($track-color);
		border-radius: $height * 0.5;
	}

	&::-moz-range-track:hover,
	&::-moz-range-track:focus {
		background-color: focus-color($track-color);
		border-radius: $height * 0.5;
	}

	&::-ms-fill-lower:focus,
	&::-ms-fill-upper:focus,
	&::-ms-fill-lower:hover,
	&::-ms-fill-upper:hover {
		background-color: focus-color($track-color);
		border-radius: $height * 0.5;
	}
}
