@use "sass:color";
@use "config" as *;
@use "slider";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html body {
	overflow-x: hidden;
}
body {
	height: 100vh;
	width: 100vw;
	font-family: $main-font;
	@include set-background($body-background);
}

main {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.app {
	width: 100%;
	min-width: 250px;
	max-width: 400px;
	height: 100%;
	min-height: 500px;
	max-height: 600px;
	padding: 10px 20px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	border-radius: 10px;

	@include set-background($content-background);

	.input-slider {
		@include slider.slider(
			100%,
			24px,
			24px,
			darken($content-background, 10%),
			$body-background
		);
		margin-top: 10px;
		margin-bottom: 15px;
	}

	.slider-label {
		display: block;
		text-align: left;
		width: 100%;
		font-size: 16px;
	}

	.color-output {
		width: 100%;
		height: 10%;
		min-height: 80px;
		background-color: rgb(0, 0, 0);
		margin-bottom: 10px;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
		&:last-of-type {
			margin-bottom: 20px;
		}
		.color-text {
			text-align: center;
			background-color: transparent;
			border: none;
			outline: none;
			font-size: 18px;
			font-weight: 700;
		}
	}
}
